@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

@import url('./navbar.css');
@import url('./firstSection.css');
@import url('./secondSection.css');
@import url('./thirdSection.css');
@import url('./fourthSection.css');
@import url('./fifthSection.css');
@import url('./footer.css');

*::-webkit-scrollbar {
    width: 5px;
}
  
*::-webkit-scrollbar-track {
    width: 12px;
    background-color: var(--white-color);
}
  
*::-webkit-scrollbar-thumb {
    background-color: #8f8f8f;
    border-radius: 15px;
}

.container-fluid {
    max-width: 90%;
}

body {
    overflow-x: hidden;
    background-color: #FAFAFA !important;
}

:root {
    --background-color: #FAFAFA;
    --white-color: #FFFFFF;
    --button-color: #2549D3;
    --primary-color: #0F298B;
    --secondary-color: #000000CF;
    --black-color: #000000; 
}

* {
    background-color: var(--background-color);
}

.container {
    width: 1428px !important;
    padding: 0 !important;  
}
