#h6ThirdSection {
    color: var(--primary-color);

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem !important;
    line-height: 3.813rem;

    width: 39.625rem;
    height: 3.813rem;
}

.titleThirdSection {
    color: var(--primary-color);

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.813rem;

    width: 39.625rem;
    height: 3.813rem;
}

.subtitleThirdSection {
    color: var(--secondary-color);
    opacity: 0.8;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.938rem;

    width: 39.5rem;
    height: 12.438rem;
}

.checks_img {
    width: 24px;
    height: 24px;
}

